@model OnlineSchool2.Models.Course

@{
    ViewData["Title"] = $"Редактирование курса";
}

<div class="container">
    <div class="row">
        <div class="col-12 py-2">
            <h1 class="text-center text-uppercase color1 pb-3">
                @ViewData["Title"]
            </h1>
            <h2 class="text-center color1 pb-1">
                @Model.Title
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-9 container-fluid">
            <form asp-action="Edit" asp-route-path="@ViewData["OldPath"]" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"><h5 class="color2">Название курса</h5></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhotoPath" class="control-label mt-3"><h5 class="color2">Изменить фото курса?</h5></label>
                    <input type="file" asp-for="PhotoPath" class="form-control" />
                    <span asp-validation-for="PhotoPath" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label mt-3"><h5 class="color2">Изменить вступительный текст</h5></label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShortDescription" class="control-label mt-3"><h5 class="color2">Изменить краткое описание</h5></label>
                    <textarea asp-for="ShortDescription" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PublicDescription" class="control-label mt-3"><h5 class="color2">Изменить публичное описание</h5></label>
                    <textarea asp-for="PublicDescription" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="PublicDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BeginQuestionnaire" class="control-label mt-3"><h5 class="color2">Изменить анкету в начале курса?</h5></label>
                    <input asp-for="BeginQuestionnaire" class="form-control" />
                    <span asp-validation-for="BeginQuestionnaire" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EndQuestionnaire" class="control-label mt-3"><h5 class="color2">Изменить анкету в конце курса?</h5></label>
                    <input asp-for="EndQuestionnaire" class="form-control" />
                    <span asp-validation-for="EndQuestionnaire" class="text-danger"></span>
                </div>

                <div class="container-fluid text-center mt-4 mb-5">
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn_itd text-uppercase text-center mx-3" />
                        <a asp-action="Index" class="btn btn-sm btn_itd_outline text-uppercase text-center mx-3">К списку курсов</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
