<h4 class="bg-danger text-white text-center p-2">Доступ закрыт</h4>

<div class="m-2">
    <h6>Вы не имеете доступа к этому ресурсу</h6>
    <a class="btn btn-outline-danger" href="/">OK</a>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Logout">Выход</a>
    }
</div>