@model OnlineSchool2.Models.Lesson

@{
    ViewData["Title"] = "Удаление урока";
}

<div class="container">
    <div class="row">
        <div class="col-12 mt-2 mb-3">
            <h1 class="text-center text-uppercase color1">
                @ViewData["Title"]
            </h1>
        </div>
    </div>
</div>

<section class="back0">
    <div class="container">
        <div class="row">
            <h2 class="col-12 text-center color2 pb-1">
                @Model.Title
            </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="text-center color1 my-3">
                    Вы хотите удалить этот урок?
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 container-fluid text-center mt-1 mb-5">
                <form asp-action="Delete" asp-route-courseid="@Model.Course.Id">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input type="submit" value="Удалить" class="btn btn_itd text-uppercase text-center mx-3" />
                        <a asp-action="Index" asp-route-courseid="@Model.Course.Id" class="btn btn-sm btn_itd_outline text-uppercase text-center mx-3">К списку уроков</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
