@model OnlineSchool2.Models.Lesson

@{
    ViewData["Title"] = Model.Title;
}

<section>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-uppercase color1">
                @Model?.Course?.Title
            </h1>
            
        </div>
    </div>
</section>

<section class="back0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center color1 pt-2 pb-1">
                    @ViewData["Title"]
                </h2>
                <h5 class="text-center color2 pb-1">
                    @Model.Description
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class='embed-container'>
                    <iframe src='https://www.youtube.com/embed/41tdjZWeCH0' frameborder='0' allowfullscreen></iframe>
                </div>

@*                 <iframe src="@Model.VideoLink" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe> *@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container-fluid text-center mt-4 mb-4">
                    <div class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn_itd text-uppercase text-center mx-3">Редактировать</a>
                        <a asp-action="Index" asp-route-courseid="@Model.Course.Id" class="btn btn-sm btn_itd_outline text-uppercase text-center mx-3">К списку уроков</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
